*{
    margin: 0;
    /* Aqui colocamos uma espaçamento nas margens de todos os lados */
    padding: 0;
    /* padding= ZERANDO O PREENCHIMENTO */
}
/* *= USADO PARA INFORMAR QUE EXISTEM ITENS QUE IRÃO RECAIR SOBRE TODO HTML */

header {
    background-image: url(Imagens/360_F_276080724_hltnCyDjcqAyRtLzDYo3T2jXbBtCD7fl.jpg);
    /* backgroud-image= USADA PARA HABILITAD UMA IMAGEM NO FUNDO DA SESSÃO */

    padding: 15px;
    /* padding= COLOCANDO UM TAMANHO(PREECHIMENTO) NO header */

    display: flex;
    /* display= TORNANDO NOSSO header FLEX-DEIXANDO OS ITENS LADO A LADO */

    justify-content: space-evenly;
    /* justify-content= JUSTIFICATIVA DO CONTEUDO- AAQUI PODEMOS AJUSTAR COMFORME NOSSA NECESSIDADE */

    align-items: center;
    /* align-items= ALINHYAMENTO NA VERTICAL, DEIXANDO HABILITADA NO CENTO */

}

/* CHAMAMOS NOSSA LOGO (img) PARA ESTILIZAÇÃO */
header img {
    width: 90px;
    /* width= LARGURA DA IMAGEM */

    height: auto;
    /* height= ALTURA DA IMAGEM */

}

/* CHAMAMOS NOSSA LISTA ORDENADA PARA ESTILIZAÇÃO */
header nav ul {
    list-style: none;
    /* ESTILO DE LISTA */

    margin-right: 10px;
    /* Atribuimos um espaçamento entre as listas, para que tenham uma melhor visualização */

    display: flex;
    /* display= TORNAMOS NOSSAS LISTAS NÃO ORDENADA EM (flex), DEIXANDO OS ITENS PERTENCENTES A ELA, LADO A LADO */
}

header nav ul li {
    list-style: none;
    /* list-style= ESTILO DE LISTA DESABILITADO(none) */

    margin-right: 15px;
    /* margin-right= ESPAÇAMENTO ENTRE AS (li) */

    display: flex;
    /* display= TORNAMOS NOSSAS LISTAS NÃO ORDENADA EM (flex), DEIXANDO OS ITENS PERTENCENTES A ELA, LADO A LADO */

}

header nav ul li a {
    text-decoration: none;
    /* text-decoration= DECOREÇÃO DO TEXTO (sublinhado) DESABILITADO(none) */

    color: white;
    /* color= COR DA LETRA */

    font-size: 20px;
    /* Tamanho da Letra */
}

header nav ul li a:hover {
    color: red;
    /* color= COR DOS ICONES AO PASSA MOUSE */

    transition: 0.5s;
    /* TRANSIÇÃO DO ELEMENTO  */

}

header nav ul li a button {
    color: white;
    /* color= COR DA LETRA */

    width: 150px;
    /* width= LARGURA DA IMAGEM */

    height: 40px;
    /* height= ALTURA DA IMAGEM */

    background-color: rgba(255, 255, 255, 0.185);
    /* backgroud-color= COR DE FUNDO */

    border-radius: 10px;
    /* border-radius= ARREDONDAMENTO DO BOTÃO */
}

header nav ul li a button:hover {
    background-color: red;
    /* backgroud-color= COR DE FUNDO DO BOTÃO */

    color: white;
    /* color= COR DOS ICONES AO PASSA MOUSE */

    transition: 0.8s;
    /* TRANSIÇÃO DO ELEMENTO  */

    cursor: pointer;
    /*  */

}

.section01 {
    background-image: url(Imagens/closet-912694_1280.jpg);

    padding: 150px;
    /* padding= ZERANDO O PREENCHIMENTO */

    display: flex;
    /* Tornando a sessão Flex e deixando os itens lado a lado */

    justify-content: space-evenly;
    /* Justificação do Conteúdo - Usando o Space-evenly como parâmetro */

}

.section01 img {
    width: 140px;
    /* width= LARGURA DA IMAGEM */

    height: auto;
    /* height= ALTURA DA IMAGEM */
}

.section01 h2 {
    color: red;
    /* color= COR DA LETRA */

    font-size: 30px;
    /* Tamanho da Letra */
    
}

.section01 p {
    color: black;
    /* color= COR DA LETRA */

    font-size: 25px;
    /* Tamanho da Letra */
}

.section02 {
    background-image: url(Imagens/laundry-413688_1280.jpg);
    /* backgroud-image= USADA PARA HABILITAD UMA IMAGEM NO FUNDO DA SESSÃO */

    background-attachment: fixed;
    /* Deixamos a imagem "Parada" na sessão, ou seja FIXADA */

    padding: 150px;
    /* padding= ZERANDO O PREENCHIMENTO */

    display: flex;
    /* Tornando a sessão Flex e deixando os itens lado a lado */

    justify-content: space-evenly;
    /* Justificativa do Conteúdo ao centro */
}

.section02 h2 {
    color: black;
    /* color= COR DA LETRA */

    font-size: 30px;
    /* Tamanho da Letra */
}

.section02 p {
    color: black;
    /* color= COR DA LETRA */

    font-size: 20px;
    /* Tamanho da Letra */

    font-weight: 900;
    /*  */

    margin: 15px;
    /* Aqui colocamos uma espaçamento nas margens de todos os lados */
}

footer {
    padding: 25px;
    /* padding= ZERANDO O PREENCHIMENTO */
    
    background-color: cornflowerblue;
    /* Cor de Fundo do Rodapé */

    display: flex;
    /* Tornando a sessão Flex e deixando os itens lado a lado */

    justify-content: center;
    /* Justificativa do Conteúdo ao centro */

    align-items: center;
    /* Alinhamento dos itens na vertical - trazendo para o centro */
}

footer ul {
    display: flex;
    /* Tornando a sessão Flex e deixando os itens lado a lado */
}

footer ul li {
    list-style: none;
    /* ESTILO DE LISTA */

    margin-right: 22px;
    /* Atribuimos um espaçamento entre as listas, para que tenham uma melhor visualização */
}

footer ul li a {
    text-decoration: none;
    /* Decoração do Texto desabilitada - Retirando o sublinhado */

    color: black;
    /* color= COR DA LETRA */
}

footer ul li a:hover {
    color: red;
    /*  */

    transition: 0.5s;
    /*  */
}

footer i {  
    color: white;
    /* CORES DO ICONE */

    font-size: 40px;
    /* TAMANHO DO ICONE */

    background-color: gray;
    /* COR DE FUNDO DO ELEMENTO  */

    padding: 20px;
    /* RESPIRO/PREECHIMENT DA COR DE FUNDO */

    border-radius: 10px;
    /* ARRENDODAMENTO DA CAIXA  */
}

footer i:hover {
    background-color: red;
    /* ALTERA COR DE FUNDO  */

    transition: 0.5s;
    /* TRANSIÇÃO DO ELEMENTO */
}




/* ESTILIZAÇÃO TELA2  */

.sectiontl2 {
    background-image: url(Imagens/1397276-superficie-da-agua-azul-sobre-um-fundo-branco-foto.jpg);
    /*  */

    padding: 200px;
    /*  */

    background-position: center;
    /*  */

    background-repeat: no-repeat;
    /*  */

    background-size: cover;
    /*  */

}

.sectiontl2 p {
    font-size: 30px;
    /*  */

    color: black;
    /*  */

    font-weight: 400;
    /*  */

    background-color: rgba(128, 128, 128, 0.151);
    /*  */

}

.sectiontl2 span {
    color: yellow;
    /*  */

    font-weight: bold;
    /*  */
}

.sectiontl21 {
    background-color: aqua;
    /*  */

    padding: 130px;
    /* PREENCIMENTO DA SEÇÃO */
    
}

/* divpai= DENTRO DELE EXISTE 3 CAIXAS */
.divpai {
    display: flex;
    /* TORNANDO OS ITENS FLEX, DEIXANDO AS CAIXAS LADO A LADO */

    justify-content: center;
    /* JUSTIFICANDO OS ITENS AO CENTRO */

    margin-bottom: 20px;
    /*  */
}

/* ESTILIZAÇÃO DAS CAIXAS (DIV FILHO) */
.divpai div {
    width: 200px;
    /* LARGURA DA CAIXA */

    height: 280px;
    /* ALTURA DA CAIXA */

    background-color: white;
    /* COR DE FUNDO DA CAIXA */

    margin-right: 20px;
    /* ESPAÇAMENTO ENTREN AS CAIXAS (DIV) */
}

.divpai1 {
    display: flex;
    /* TORNANDO OS ITENS FLEX, DEIXANDO AS CAIXAS LADO A LADO */

    justify-content: center;
    /* JUSTIFICANDO OS ITENS AO CENTRO */
    
}

.divpai1 div {
    width: 200px;
    /* LARGURA DA CAIXA */

    height: 280px;
    /* ALTURA DA CAIXA */

    margin-right: 20px;
    /* ESPAÇAMENTO ENTREN AS CAIXAS (DIV) */

}

.div-filho1 {
    background-image: url(Imagens/jeans-428614_1280.jpg);
    /* backgroud-image= USADA PARA HABILITAD UMA IMAGEM NA DIV */

    background-size: cover;
    /*  */

    background-position: center;
    /*  */

    background-repeat: no-repeat;
    /*  */

}

.div-filho1:hover {
    width: 210px;
    /* LARGURA DA IMAGEM */

    height: 290px;
    /* ALTURA DA IMAGEM */

    transition: 0.3s;
    /* TRANSIÇÃO DO ELEMENTO */

    border-radius: 30px;
    /* ARRENDODAMENTO DA IMAGEM */

}

.div-filho2 {
    background-image: url(Imagens/chero.jpg);
    /* backgroud-image= USADA PARA HABILITAD UMA IMAGEM NA DIV */
    background-size: cover;
    /*  */
    background-position: center;
    /*  */
    background-repeat: no-repeat;
    /*  */
}

.div-filho2:hover {
    width: 210px;
    /* LARGURA DA IMAGEM */

    height: 290px;
    /* ALTURA DA IMAGEM */

    transition: 0.3s;
    /* TRANSIÇÃO DO ELEMENTO */

    border-radius: 30px;
    /* ARRENDODAMENTO DA IMAGEM */
    
}

.div-filho3 {
    background-image: url(Imagens/lanadas.jpg);
    /* backgroud-image= USADA PARA HABILITAD UMA IMAGEM NA DIV */
    background-size: cover;
    /*  */
    background-position: center;
    /*  */
    background-repeat: no-repeat;
    /*  */
}

.div-filho3:hover {
    width: 210px;
    /* LARGURA DA IMAGEM */

    height: 290px;
    /* ALTURA DA IMAGEM */

    transition: 0.3s;
    /* TRANSIÇÃO DO ELEMENTO */

    border-radius: 30px;
    /* ARRENDODAMENTO DA IMAGEM */
    
}

.div-filho4 {
    background-image: url(Imagens/hangers-7185447_1280.jpg);
    /* backgroud-image= USADA PARA HABILITAD UMA IMAGEM NA DIV */
    background-size: cover;
    /*  */
    background-position: center;
    /*  */
    background-repeat: no-repeat;
    /*  */

}

.div-filho4:hover {
    width: 210px;
    /* LARGURA DA IMAGEM */

    height: 290px;
    /* ALTURA DA IMAGEM */

    transition: 0.3s;
    /* TRANSIÇÃO DO ELEMENTO */

    border-radius: 30px;
    /* ARRENDODAMENTO DA IMAGEM */
    
}

.div-filho5 {
    background-image: url(Imagens/white-845071_1280.jpg);
    /* backgroud-image= USADA PARA HABILITAD UMA IMAGEM NA DIV */
    background-size: cover;
    /*  */
    background-position: center;
    /*  */
    background-repeat: no-repeat;
    /*  */ 

}

.div-filho5:hover {
    width: 210px;
    /* LARGURA DA IMAGEM */

    height: 290px;
    /* ALTURA DA IMAGEM */

    transition: 0.3s;
    /* TRANSIÇÃO DO ELEMENTO */

    border-radius: 30px;
    /* ARRENDODAMENTO DA IMAGEM */

}

.div-filho6 {
    background-image: url(Imagens/zerosujera.jpg);
    /* backgroud-image= USADA PARA HABILITAD UMA IMAGEM NA DIV */
    background-size: cover;
    /*  */
    background-position: center;
    /*  */
    background-repeat: no-repeat;
    /*  */ 

}

.div-filho6:hover {
    width: 210px;
    /* LARGURA DA IMAGEM */

    height: 290px;
    /* ALTURA DA IMAGEM */

    transition: 0.3s;
    /* TRANSIÇÃO DO ELEMENTO */

    border-radius: 30px;
    /* ARRENDODAMENTO DA IMAGEM */

}
.sectiontl22 {
    background-color: blue;
    /*  */

    padding: 200px;
    /* PREENCIMENTO DA SEÇÃO */
}




